@import url('https://fonts.googleapis.com/css?family=Lobster');

/*General--------------------------------------------*/
body {
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.row {
margin: 0;
}

/*--------------------------------------------General*/
 


/*Navbar--------------------------------------------*/

.navbar-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    margin-bottom: 16px;
}

.navbar-brand {
    color: #fafafa;
    font-family: 'Lobster', cursive;
    font-size: 25px;
}

.nav-link {
    color: #fafafa;
    font-family: 'Lobster', cursive;
    font-size: 25px;
}

.nav-headlight {
    color: #fafafa;
    font-family: 'Lobster', cursive;
    font-size: 25px;

}

a:hover {

    color: #585c61;
}

/*--------------------------------------------Navbar*/

/*Home--------------------------------------------*/

.callout-home {
    height: 100vh;
    margin-top: 60px;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron-home {
    
    background-color: transparent;
}


.home-header {
    color: #fafafa;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 20px;

}

.home-text {
    color: #fafafa;
    font-size: 25px;
}

.home-info{
    color:#fafafa;
    font-size: 16px;
    font-weight: lighter;
    
}


/*--------------------------------------------Home*/

/*Contact--------------------------------------------*/

.contact-page{
    height: 100vh;
    margin-top: 60px;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-header{
    color: #fafafa;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    margin-bottom:20px;
    
}

.contact-text{
    color: #fafafa;
    font-size: 25px;
    margin-bottom:20px;
    
}

.button-submit{
    color:#fafafa;
    background-color:#484747;
    margin-top: 20px;
    border:none;
}

.button-submit:hover{
    color:#fafafa;
    background-color:#85898d;
}
    

/*--------------------------------------------Contact*/

/*Footer--------------------------------------------*/

.footer {
    background-color: #484747;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
    width:100%;
}

.footer-header {
    margin-top: 16px;
}

.social-links  li a i {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 15px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 18px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
     
}

.social-links  a i:hover {
    background: #fafafa;
    color:#8f8f8f;
}

.social-links {
    padding-bottom: 15px;
}

/*--------------------------------------------Footer*/

/*Media Queries--------------------------------------------*/
@media(max-width: 992px){
    .home-info{
     display: none;
    }
}

/*--------------------------------------------Media Queries*/
